# Logs
/logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Dependency tree
package-lock.json

# Compiled releases
dist
server-bundle.js
server-bundle.js.LICENSE.txt

# Certificates
*.spc
*.pvk
*.p12
*.cer
*.crt
*.pem
certs

# OSX files
.DS_Store

# VSCode files
.vscode