extends layout

block content
    .preload
        .preload-author
            span.preload-circle
            span.preload-name Sergey Scheglov
        .preload-about Enthusiast in Computer Science
    #content
    script(src="/anime.min.js")