.container
    h1 About me
    .about Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, officiis! Fugit qui repudiandae repellat illum voluptas iste neque dolor quaerat reprehenderit id officiis, soluta veniam harum, sint dolore atque eos.